<head>
  <meta charset="utf-8">
  <script src="https://kit.fontawesome.com/8e3c874e17.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/main-style.css">
  <title>Registration Page</title>
</head>

<h1>{{msg}}</h1>
<ul>
  {{#each users}}
  	<li>
  		<p><span class="label">ID:</span> {{this.id}}</p>
      <p><span class="label">Quote:</span> {{this.firstname}}</p>
      <p><span class="label">Author:</span> {{this.lastname}}</p>

      {{!-- <button data-id="{{this.id}}" class="delquote">Delete</button>

      <a href="/{{this.id}}">Update this quote</a> --}}
  	</li>
  {{/each}}
</ul>