<h1>{{msg}}</h1>
<ul>
  {{#each users}}
  	<li>
  		<p><span class="label">ID:</span> {{this.id}}</p>
      <p><span class="label">First Name:</span> {{this.firstname}}</p>
      <p><span class="label">Last Name:</span> {{this.lastname}}</p>
      <p><span class="label">Tokens:</span> {{this.tokens}}</p>

      {{!-- <button data-id="{{this.id}}" class="delquote">Delete</button>

      <a href="/{{this.id}}">Update this quote</a> --}}
  	</li>
  {{/each}}
</ul>