<head>
  <meta charset="utf-8">
  <script src="https://kit.fontawesome.com/8e3c874e17.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/main-style.css">
  <title>Registration Page</title>
</head>

<h1>{{msg}}</h1>
<ul>
  
  	<li>
  		<p><span class="label">ID:</span> {{users.id}}</p>
      <p><span class="label">First Name:</span> {{users.firstname}}</p>
      <p><span class="label">Last Name:</span> {{users.lastname}}</p>
      <p><span class="label">Tokens:</span> {{users.tokens}}</p>

      {{!-- <button data-id="{{this.id}}" class="delquote">Delete</button>

      <a href="/{{this.id}}">Update this quote</a> --}}
  	</li>
  
</ul>
<h2>Price</h2>
<p><span class="label">$</span><span id="price"></span></p>
<h2>Time</h2>
<p><span id="time"></span></p>
<h2>Options</h2>
<div>
  <button id="option-put">Down/Put</button>
  <button id="option-call">Up/Call</button>
</div>
<h2>Purchases</h2>
<ul id="purchase-list" class="list-group">
          {{!-- {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}} --}}
        </ul>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/trade.js"></script>
